*{
    margin: 0;
    padding: 0;
    box-sizing: none;
}

#background{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-image: url(../imgs/background.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 0;
    margin: 0;
    opacity: 0.5;
    z-index: 1;
}
